# file
view/node_modules
model/migrations
model/SATbot
# *.pt
.vscode
*.pyc
*.pyo
/view/public/personas_photos
/model/lightning_logs
/model/Emotion Classification/lightning_logs
view/public/SATprotocols.docx
view/public/pre_kai.png
view/public/pre_olivia.png
view/public/prev_SATprotocols.pdf
view/public/prev_arman.png
view/public/prev_gabrielle.png
view/public/prev_robert.png
view/public/spoken_SATprotocols.pdf